.gallery-bg {
   background-color: $dark-blue;
}

.gallery__wrapper {
   padding-bottom: 10rem;
}
.gallery {
   display: block;
   // clip-path: ;
   color: $white;
   
   &__subtitle {
      padding-top: 8.4rem;
      font-family: $kaushan;
      font-size: 2rem;
      line-height: 2.4rem;
      opacity: 0.5;
      text-align: center;
   }
   &__title {
      margin-top: 1rem;
      text-align: center;
      font-family: $vidaloka;
      font-size: 3.6rem;
      line-height: 4.4rem;
   }
   &__description {
      text-align: center;
      margin: 1.6rem auto;
      font-family: $montserrat;
      font-size: 1.4rem;
      line-height: 2.4rem;
      opacity: 0.7;
      max-width: 41.3rem;
   }
}

.gallery__item-inner {
   display: flex;
   flex-wrap: wrap;
   gap: 3rem;
   justify-content: center;
   overflow: hidden;
}
.gallery__item {
   max-width: 30rem;
   
   & img {
      max-width: 100%;
      border-radius: 1rem;
      border: none;
      max-height: 20rem;
      object-fit: cover;
      height: fit-content;
      border: none;
   }
}

